<h1> Restful Task Api:</h1>

 <button class="mostrar_todos" (click)="mostrarTodos()">Mostrar Lista</button>


  <table border="1" *ngIf="var1">
    <tr>
      <td>Title</td><td>Description</td><td>Completed</td>
    </tr>
    <tr *ngFor="let art of datos">
      <td>{{art.title}}</td>
      <td>{{art.description}}</td>
      <td>{{art.completed}}</td>
      <td><button class="mostrar_detalle" (click)="getretornarId(art._id)"> ver detalle </button></td>
    </tr>
  </table>
<!-- <div *ngIf="vardetalle">
<h1> Datos ID: {{datosid.title}} </h1>
  <table border="1">
    <tr>
      <td>Title</td><td>Description</td><td>Completed</td>
    </tr>
      <td>{{datosid.title}}</td>
      <td>{{datosid.description}}</td>
      <td>{{datosid.completed}}</td>

  </table>

</div> -->
<!--<div>
  <h2>buscar por id: </h2>
  <form (submit)="getretornarId(newId._id)">

        <p> {{ newId | json }} </p>
        <input type="text" name="title" [(ngModel)]= "newId._id" />
        <input type="submit" value="Create Task" />
    </form>


</div> -->

<div *ngIf="vardetalle">

<app-details *ngIf="datosid" [retornarId]="datosid"></app-details>
</div>
